body {
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background: linear-gradient(
    159deg,
    rgb(102, 255, 222) 0%,
    rgb(102, 255, 227) 100%
  );
  animation: body 1s linear;
}

@keyframes body {
  to {
    background: linear-gradient(
      159deg,
      rgb(81, 206, 238) 0%,
      rgb(148, 237, 255) 100%
    );
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background: rgb(97, 204, 255);
    background: linear-gradient(
      159deg,
      rgba(97, 204, 255, 1) 0%,
      rgb(148, 255, 255) 100%,
    );
    width: 100%;
  }
}

.cube-wrap {
  --size: 30vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}
@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
}
.side i {
  font-size: 10rem;
}
.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.left {
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.front {
  transform: translateZ(calc(var(--size) * 0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.back {
  transform: translateZ(calc(var(--size) * -0.5));
  /* background: rgb(53, 191, 255); */
  background: transparent;
}
.top i,
.bottom i,
.left i,
.right i,
.back i,
.front i {
  transition: 0.5s ease-in-out;
}
.top i:hover,
.right i:hover,
.left i:hover,
.bottom i:hover,
.back i:hover,
.front i:hover {
  transform: scale(1.3);
}
* {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* width: 100%; */
  /* background-color: red; */
  width: 100%;
}
.linktree-logo img {
  width: 10rem;
  /* background-color: yellow; */
}
.linktree-login-singup {
  /* display: flex; */
  gap: 1rem;
}
.linktree-login-singup a {
  font-weight: 600;
  font-size: 1rem;
}
.social-links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  position: fixed;
  bottom: 2rem;
  left: 0;
  /* background-color: rgb(28, 180, 99); */
  width: 100%;
}
.socail-links i {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
.socail-links h3 {
  color: #202124;
  font-size: 1rem;
}
.myname {
  color: #202124;
  font-weight: 800;
}
